src/main/mule/janardhan-maven.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1e45f80b-5340-4b9a-b308-4220f4d79887" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="janardhan-mavenFlow" doc:id="c2e2695d-22d2-4f33-a9de-8263e2e6e65d" >
		<http:listener doc:name="Listener" doc:id="d6ced7ae-8cfa-4f0a-b6ec-850b934009db" config-ref="HTTP_Listener_config" path="/path"/>
		<logger level="INFO" doc:name="Logger" doc:id="a9f35daa-a9ab-4002-b6de-f69b02f985a9" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="5cd24b2b-beb4-4e74-be43-365335b25c55" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"DateTime" : now()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
